<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="rakuten chrome test">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="com.qa.rakuten.tests.PointsActivityPageTest" />
		</classes>
	</test> <!-- Test -->


	<!-- <test thread-count="5" name="rakuten firefox test">
		<parameter name="browserName" value="firefo" />
		<classes>
			<class name="com.qa.rakuten.tests.WelcomePageTest" />
		</classes>
	</test> Test -->
</suite> <!-- Suite -->
